.title-container {
	background-image: url('../assets/slider_background.png');
	justify-content: center;
	align-items: center;
	height: 500px;
}
.page-title {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	font-weight: 700;
}
.background {
	background-image: url('https://mdbootstrap.com/img/Photos/Horizontal/People/12-col/img%20(97).jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 100vw;
}
.top-layer {
	background-color: rgba(0, 0, 0, 0.8);
	height: 100vh;
	width: 100vw;
}
.contact-form {
	background-color: white;
	border-radius: 3px;
}
.box-shadow {
	-webkit-box-shadow: -1px 2px 8px 2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -1px 2px 8px 2px rgba(0, 0, 0, 0.75);
	box-shadow: -1px 2px 8px 2px rgba(0, 0, 0, 0.75);
}
