.title-container {
	background-image: url('../assets/slider_background.png');
	justify-content: center;
	align-items: center;

	height: 500px;
}
.page-title {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 70px;
	font-weight: 700;
}
