.nav-link-title:hover {
	color: #ff003c;
	text-decoration: none;
}
.nav-link-title {
	color: #141517;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
}
ion-icon {
	font-size: 25px;
	margin-left: 25px;
	margin-right: 25px;
}
ion-icon:hover {
	-webkit-transform: scale(1.5);
}

.icon_wrapper {
	width: auto;
	height: 50;
	justify-content: space-between;

	display: block;
}
.main-header {
	width: 90%;

	justify-content: center;
	align-items: center;
	margin: 0;
}
.header-area {
	width: 100%;
	display: block;

	height: 100px;
}
.header-container {
	width: 100%;
	height: 100px;
	justify-content: center;
	align-items: center;
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background-color: #fff;
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
