.intro-area {
	margin-top: 100px;
	padding-left: auto;
	padding-right: auto;
	justify-content: center;
	align-items: center;
}
.intro-area-container {
	display: block;
}
.intro-title-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
h1 {
	font-size: 5vw;
	font-weight: 900;
	margin-bottom: 35px;
	max-width: 50vw;
	font-family: 'Josefin Sans', sans-serif;
}
.section-padding {
	padding-top: 150px;
	padding-bottom: 120px;
}
.section-title-container {
	margin-bottom: 30px;
	padding-left: 15px;
}
.section-title {
	font-size: 50px;
	font-weight: bold;
	font-family: 'Josefin Sans', sans-serif;
}
.gallery-area {
	background-color: yellow;
	min-height: 720px;
}
.gallery-container {
	background-color: red;
}
.gallery1 {
	/* background-image: url('../assets/gallery1.png'); */
	justify-content: center;
	align-items: center;

	height: 500px;
}
